html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body{
    margin:0;
}

.full{
    width:100%;
}
.normal{
    width:1100px;
    margin:0 auto;
}
.sectionPadding{
    padding:100px 0px;
}
.clear{
    clear:both;
}

.text-center {
    text-align: center;
}


/*Ana səhfədəki şəkil */

#home{
    height:600px;
    background:url(../images/hero-bg.jpg);
    background-size:cover;
}
#home .content{
    margin-top: 1%;
    margin-left: 1%;
}

/*Ana səhfədəki textlər və button*/
#home .content div:first-child{
    margin-left: 93%;
    margin-top: -1%;
}

#home .content div:first-child a{
    text-decoration: none;
    color: black;
}

#home .content div:last-child{
    text-align:center;
}

#home .content div:last-child h1{
    margin-top:120px;
    margin-bottom:-15px;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 12px;
    color: #353535;
    font-weight: 500;
    line-height: 1.1;
        margin-left: 2%;
    display: inline-block;
}
#home .content div:last-child h1 span{
    color:darkgray;
}
#home .content div:last-child p{
    font-size: 14px;
    color: #a1a9b0;
    word-spacing: 4px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1.7%;
    margin-bottom: 25px;

}
#home .content div:last-child button{
    padding: 16px;
    border-radius: 5px;
    background: rgba(61, 201, 179, 1);
    box-shadow: 0px 3px 0px 0px #309383;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    border:none;
    
}

#home .content div:last-child button a{
    margin-left: 5px;
    text-decoration: none;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
             
  }

#home .content div:last-child button:hover{
                
    transition: all .5s;
    background:rgb(138,222,209);
  }


  /*Intro Hissəsi */

#intro{
    background:#f3f5f8;
    font-family: 'Varela Round', sans-serif;
    height: 192px;
}
#intro .intro-text{
    text-align:center;
}

#intro .intro-text h1{
    font-size: 15px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    font-weight: bold;
    
}

#intro .intro-text p{
    color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 4%;    
}

#intro .intro-text p>a{
    text-decoration: none;
    color: black; 
}


#services{

}
#services .content {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    margin-top: 10%;
}

.serviceItems div{
    width:calc(33.33% - 30px);
    margin:15px;
    float:left;
    font-family: 'Varela Round', sans-serif;

}
.serviceItems div>span{
    padding:60px;
    /*border-radius:100%;
    background:aqua;*/
    display: inline-block;
}

#services .content h1{
    font-size: 15px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    margin-top: -11%;
}

#services .content p{
    width: 96%;
    color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    
}

.serviceItems div span i{
    color:white;
    height: 175px;
    width: 175px;
    line-height: 175px;
    max-width: 100%;
    background: #3dc9b3;
    border-radius: 50%;
    display: block;
    color: #fff;
    font-size: 55px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 0 0 50px 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-shadow: rgb(55, 181, 161) 1px 1px, 
    rgb(55, 181, 161) 2px 2px, 
    rgb(55, 181, 161) 3px 3px, 
    rgb(55, 181, 161) 4px 4px, 
    rgb(55, 181, 161) 5px 5px, 
    rgb(55, 181, 161) 6px 6px, 
    rgb(55, 181, 161) 7px 7px, 
    rgb(55, 181, 161) 8px 8px, 
    rgb(55, 181, 161) 9px 9px, 
    rgb(55, 181, 161) 10px 10px, 
    rgb(55, 181, 161) 11px 11px, 
    rgb(55, 181, 161) 12px 12px, 
    rgb(55, 182, 162) 13px 13px, 
    rgb(55, 183, 163) 14px 14px, 
    rgb(56, 184, 164) 15px 15px, 
    rgb(56, 185, 165) 16px 16px, 
    rgb(56, 186, 166) 17px 17px, 
    rgb(57, 187, 167) 18px 18px, 
    rgb(57, 188, 168) 19px 19px, 
    rgb(57, 189, 169) 20px 20px, 
    rgb(58, 191, 170) 21px 21px, 
    rgb(58, 192, 171) 22px 22px, 
    rgb(58, 193, 172) 23px 23px, 
    rgb(59, 194, 173) 24px 24px, 
    rgb(59, 195, 174) 25px 25px, 
    rgb(59, 196, 175) 26px 26px, 
    rgb(60, 197, 176) 27px 27px, 
    rgb(60, 198, 177) 28px 28px, 
    rgb(60, 199, 178) 29px 29px, 
    rgb(61, 201, 179) 30px 30px;
}
.serviceItems div>hr{
    width:50px;
    height:5px;
    background:#3dc9b3;
    border:none;
}

.phone-container {
    width: 100%;
    height: 650px;
}

.phone-container .iphone {
    width: 50%;
    margin-top: 120px;
    background: #f3f5f8;
    background: url(../images/iphone-bg.png) no-repeat center center;
    background-position: 200px 10px;
    float: left;
    height: 100%;
       
}

.sliderText {
    width: 50%;
    background: #fff;
    float: right;
    margin-top: 7%;
    display: inline-block;
    overflow: hidden;

}
.sliderText1 {
    width: 2000px;
    height: 500px;
    background: white;
}

.servicesSlider{
    width: 675px;
    position: relative;
    display: inline-block;
    left: 0;
    transition: 0.4s ease;
}

.servicesSlider2{
    width: 675px;
    left: 0px;
    display: inline-block;
    position: relative;
    transition: 0.4s ease;
}

.servicesSlider h1 {
    font-size: 15px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    background: url(../images/h1-bg.png) no-repeat center bottom;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
}

.servicesSlider p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    margin: 2%;
}


.servicesSlider2 h1 {
    font-size: 15px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    background: url(../images/h1-bg.png) no-repeat center bottom;
    padding-bottom: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 9%;
}

.servicesSlider2 p {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    margin: 2%;
}

/*Iphondan sonraki background sehfesi*/
.swag {
    width: 100%;
    margin-top: 31.5%;
    background: url(../images/plants-bg.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-color: rgb(0,0,0);
    align-items:center;

}

.swagContainer {
    width: 1170px;
    height: 299px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 63px;
    padding-right: 15px;
}

.text-swag {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.text-swag h1 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 6.5%;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.text-swag span {
    display: block;
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 5px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.down-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(61, 201, 179, 0.8);
    display: inline-block;
    margin: 10px auto 20px;
    color: white;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-top: 4%;
    margin-left: 48%;
    
}

.down-btn a {
    color: white;
    font-family: 'Varela Round', sans-serif;

}

.down-btn:hover{
                
    transition: all .5s;
    background:rgb(92, 210, 191);
  }

  /**/
.portfolio {
    width: 1170px;
    height:565px;

}

.portfolio-images {
    width: 1170px;
    height: 258px;
    margin-top: 8%;
}

.portfolio img {
    width: 360px;
    height: 222.22px;
    margin: 10px;
}

.portfolio-text {
    width: 32%;
    height: 47px;
    margin-left: -7px;
}

.portfolio-text h2{
    font-size: 15px;
    text-align: center;
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    margin-top: 12%;

}

.portfolio-text h2::after {
    content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 22px;
    margin-left: 45%;
    
}

.portfolio-text p {
    color: #8c9398;
    text-align: center;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    display: block;
    font-family: 'Varela Round', sans-serif;
    margin: 3%;
}

.portfolio-text2 {
    width: 32%;
    height: 10%;
    display: inline-block;
    margin-left: 66%;
}

.portfolio-text2 h2{
    font-size: 15px;
    text-align: center;
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    margin-top: -12%;

}

.portfolio-text2 h2::after {
    content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 22px;
    margin-left: 45%;
    
}

.portfolio-text2 p {
    color: #8c9398;
    text-align: center;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    display: block;
    font-family: 'Varela Round', sans-serif;
    margin: 3%;
}

.portfolio-text3 {
    width: 32%;
    height: 10%;
    margin-left: 381px;
    margin-top: -183px;
}

.portfolio-text3 h2{
    font-size: 15px;
    text-align: center;
    color: #353535;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    margin-top: 12%;

}

.portfolio-text3 h2::after {
    content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 22px;
    margin-left: 45%;
    
}

.portfolio-text3 p {
    color: #8c9398;
    text-align: center;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    display: block;
    font-family: 'Varela Round', sans-serif;
    margin: 3%;
}

.ignite {
    margin-top: 43%;
    width: 100%;
    height:210px;
    

}

.ignite-container {
    height: 100%;
    background-color: #242830;
    
}

.ignite-btn {
    display: inline-block;
    padding: 25px 40px;
    color: #fff;
    border: solid 1px #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    margin-left: 42.5%;
    margin-top: 70px;   
}

.ignite-btn a {
      
    border: solid 1px #fff;
    font-weight: bold;
    padding: 25px 40px;
    
}

.ignite-btn:hover{
    transition:
    background: #3DC9B3;
    border: 1px solid #3DC9B3;
    transition: color 0.4s, border 0.4s;
    color: #3DC9B3;

}
/*----------------------------------------------------------*/

#team{
    margin-top: -10%;
    height: 780px;
}
#team .team-container {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    margin-top: 10%;
}

.teamItems div{
    width:calc(33.33% - 30px);
    margin:15px;
    float:left;
    font-family: 'Varela Round', sans-serif;

}
.teamItems div>span{
    padding:60px;
    display: inline-block;
}

#team .team-container h1{
    font-size: 15px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    margin-top: 2%;
}

#team .team-container p{
    width: 96%;
    color: #8c9398;
    margin-top: 6%;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 15px;
    
}

.teamItems div>hr{
    margin-top: 6%;
    width:50px;
    height:5px;
    background:#3dc9b3;
    border:none;
}

.teamItems div>ul{
    border-radius: 50%;
    /*color: black;*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.teamItems div>ul{
    border-radius: 50%;
    color: black;
    display: flex;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;

  }


.fa {
    margin-top: 3%;
    padding: 10px;
    font-size: 18px;
    width: 16px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.6;


}

/*----------------------------------*/

.subscribe {
    width: 100%;
    height: 400px;
    background: url(../images/keyboard-bg.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    
}

.sub-container {
    width: 1100px;
}

.subscribe h1 {
    color: #fff;
    margin-bottom: 40px;
    font-family: 'Varela Round', sans-serif;
}

.subscribe h1 span {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 4px;
    letter-spacing: 1px;
    text-align: center;
}

.subscribe i {
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    margin-top: 7%;
   
}

.form {
    margin: 0;
}


.subscribe input[type=text] {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px #fff;
    padding: 20px;
    width: 20%;
    color: #fff;
}

.subscribe input[type=submit] {
    background: rgba(61, 201, 179, 0.5);
    border: solid 1px rgba(61, 201, 179, 0.5);
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.5s ease;
    -webkit-appearance: button;
    cursor: pointer;
    align-items: flex-start;
    text-align: center;
    line-height: normal;
    vertical-align: baseline;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    
}

        .subscribe input[type=submit]:hover {
            transition: color 0.4s;
            background: #3DC9B3;
        }

.content {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.row h1 {
    font-size: 15px;
    text-transform: uppercase;
    color: #353535;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    background: url(../images/h1-bg.png) no-repeat center bottom;
    padding-bottom: 30px;
    font-weight: bold;
}

.contact-details {
    margin: 70px 0;
}

.up-btn {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    background: rgba(61, 201, 179, 0.5);
    font-size: 18px;
    line-height: 46px;
    position: absolute;
    margin-top: -8.1%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.up-btn a {
    color: white;
    font-family: 'Varela Round', sans-serif;

}

.up-btn:hover{
                
    transition: all .5s;
    background:rgb(92, 210, 191);
  }

.light-box1 {
    width: 23.333333%;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4;
    padding: 20px 0;
    text-align: center;
    float: left;
    margin-left: 10%;
    margin-right: -4%;
    
}

.light-box1 i{
    color: black;
}

.light-box2 {
    width: 23.333333%;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4;
    padding: 20px 0;
    text-align: center;
    float: left;
    margin-left: 9%;
    margin-right: -4%;
    
}

.light-box3 {
    width: 23.333333%;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4;
    padding: 20px 0;
    text-align: center;
    float: left;
    margin-left: 9%;
    margin-right: -4%;
    
}

.light-box1 h2 {
    margin: -2%;
}

.light-box2 h2 {
    margin: -2%;
}

.light-box3 h2 {
    margin: -2%;
}

.box-hover {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    font-family: 'Varela Round', sans-serif;
}

.light-box h2{
    font-size: 20px;

}

.light-box3 a{
    text-decoration: none;
    color: #8c9398;

}

.light-box3 a:hover{
     color: #3dc9b3;
}

.light-box1, .light-box2 p{
     color: #8c9398;
}

.contact-details h2 span {
    display: block;
    color: #3dc9b3;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    margin-top: 15px;
}

h2::after {
    content: " ";
    border: solid 2px #3dc9b3;
    display: block;
    width: 35px;
    margin: 25px auto;
}

.contact-wrap {
    position: relative;
}

.dark-bg {
    background: #f3f5f8;
}

.social-icon {
    margin-top: 19%;
    margin-left: 0%;
}

.content-icon .fa {
    margin-top: 3%;
    padding: 10px;
    font-size: 18px;
    width: 16px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.content-icon .fa:hover {
    opacity: 0.6;

}

footer {
    background-color: #242830;
    padding: 40px 0 30px; 
    font-family: 'Varela Round', sans-serif;
}

.container-footer {
    width: 1100px;
}

.row {
    margin-left: -15px;
    margin-right: -15px; 
}

.col-md-6 {
    width: 50%;
}

.col-md-6 p {
    color: white;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    margin-right: -140%;
    margin-top: -7%;
}

ul.legals {
    list-style: none;
    color: #fff;
    line-height: 25px;
    margin-left: 30%;
    font-size: 14px;
}

.legals {
    text-align: left;
}

menu, ol, ul {
    padding: 0 0 0 40px;
}

dl, menu, ol, ul {
    margin: 1em 0;
}

footer a {
    color: #a1a9b0;
    text-decoration: none;
}

footer a:hover {
    transition: all .5s;
    color: rgb(92, 210, 191);
}

ul.legals li::after {
    content: " |";
}

ul.legals li {
    display: inline-block;
}



.credit {
    text-align: right;
}




